<form class="mt-4" name="container-form" method="POST" action="/dishes/handle-form-actions">
    <div>
      <h3>Bài viết của tôi</h3>
      <a href="/me/bin/dishes">Thùng rác ({{deletedCount}})</a>
      <div class="mt-4 d-flex align-items-center">
          <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
          <label class="form-check-label" for="checkbox-all">
            Chọn tất cả
          </label>
        </div>
        <div class="my-dish-page">
        <select class="custom-control checkbox-select-all-options" name="action" required>
          <option value="">--Hành động--</option>
          <option value="delete">Xoá</option>
        </select>
        </div>
        
        <div class="my-dish-page-btn">
          <button type="submit" class="btn btn-success btn-sm check-all-submit-btn" disabled>Thực hiện</button>
        </div>
      </div>
    </div>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col" style="width: 150px;">Số bài</th>
                <th scope="col">
                  Tên bài viết
                  {{{sortable 'name' _sort}}}
                </th>
                <th scope="col" style="width: 150px;">
                  Thời gian làm
                  {{{sortable 'time' _sort}}}

                  </th>
                <th scope="col" style="width: 150px;">
                  Thời gian tạo
                  {{{sortable 'createdAt' _sort}}}

                  </th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each dishes}}
            <tr>
                <td>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="dishIds[]" value="{{this._id}}">
                  </div>
                </td>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.time}}</td>
                <td>{{formatDate this.createdAt}}</td>
                <td>
                    <a href="/dishes/{{this.slug}}" class="btn btn-link"> Xem</button>
                    <a href="/dishes/{{this._id}}/edit" class="btn btn-link"> Sửa</button>
                    <a href="" class="btn btn-link" data-toggle="modal" data-id="{{this._id}}" data-target="#delete-modal">Xoá</button>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center">
                  Bạn chưa có bài viết nào!!!
                  <a href="/dishes/create">Đăng bài viết</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>


{{!-- delete dish --}}
<div id="delete-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Thông báo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn muốn xoá bài viết này?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete" type="button" class="btn btn-success">Đồng ý</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Huỷ</button>
      </div>
    </div>
  </div>
</div>

{{!-- delete hidden form --}}
<form name="delete-dish-form"method="POST"></form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var dishId;
        var deleteForm = document.forms['delete-dish-form'];
        //var containerForm = document.forms['container-form'];
        var containerForm = $('form[name="container-form"]');
        var btnDelete = document.getElementById('btn-delete');
        var checkboxAll = $('#checkbox-all');
        var dishItemCheckbox = $('input[name="dishIds[]"]');
        var checkAllSubmitBtn = $('.check-all-submit-btn');
        
        //khi hop hoi thoai hien len va an dong y
        $('#delete-modal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        dishId = button.data('id');
        });

        //khi an vao nut xoa
        btnDelete.onclick = function() {
            deleteForm.action = '/dishes/' + dishId + '?_method=DELETE';
            deleteForm.submit();
        }

        //khi thay doi o chon tat ca
        checkboxAll.change(function() {
          var isCheckedAll = $(this).prop('checked');
          dishItemCheckbox.prop('checked', isCheckedAll);
          renderCheckAllSubmitBtn();
        });

        dishItemCheckbox.change(function() {
          var isCheckedAll = dishItemCheckbox.length === $('input[name="dishIds[]"]:checked').length;
          checkboxAll.prop('checked', isCheckedAll);
          renderCheckAllSubmitBtn();
        });
        
        function renderCheckAllSubmitBtn() {
          var checkedCount = $('input[name="dishIds[]"]:checked').length;
          if(checkedCount > 0) {
            checkAllSubmitBtn.attr('disabled', false);
          } else {
            checkAllSubmitBtn.attr('disabled', true);
          }
        }
    });
</script>