<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <!-- Nút TEST -->
                <button id="toggleUserInfoBtn" class="btn btn-outline-dark">Test</button>
            <ul>
                <li>Thời gian thực hiện: {{dish.time}}</li>
                <li>Trình độ: {{dish.level}}</li>
                <li>Độ tuổi: {{dish.age}}</li>
            </ul>
        </div>

        <div class="col-lg-9">
            <h2>{{dish.name}}</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{dish.videoId}}?si=5yhRCasHauNwjnsM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p>{{dish.description}}</p>
        </div>
    </div>
</div>

